* {
  font-family: "Roboto", sans-serif;
}
.banner {
  height: 90vh;
  background-color: rgba(45, 58, 75, 0.5);
  padding: 0px 30px;
  position: relative;
}

.first,
.second,
.third {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-attachment: fixed;
  margin-bottom: -2px;
}

.first {
  background-image: url("../../../assets/img/first-bg.png");

  .banner {
    margin: 10vh auto 0 auto;
    border-left: 3px solid var(--color);
    /****/
    .name {
      padding-top: 80px;
      font-size: 22px;
      line-height: 100px;
      color: var(--color);
      font-weight: 300;
      .me {
        font-size: 50px;
        text-transform: uppercase;
        font-weight: 1000;
        color: #fff;
      }
    }
    /****/
    .about-me {
      position: relative;
      min-height: 250px;
      background-color: #455871;
      right: -100px;
      padding: 30px;
      display: inline-block;
      h4 {
        /* display: inline-block; */
        padding-bottom: 5px;
        font-size: 22px;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 0px;
        margin-bottom: 10px;
        border-bottom: 2px solid var(--color);
      }

      .paragraph {
        color: #fff;
        margin-bottom: 25px;
      }
      .photo {
        ::ng-deep {
          .p-image-preview-container > img,
          .p-image-preview-indicator {
            border-radius: 100%;
            border: 3px solid var(--color);
          }
        }
      }
    }
  }
}

.second {
  background-image: url("../../../assets/img/second-bg.png");
  .banner {
    border-right: 3px solid var(--color);
    h4 {
      width: 100%;
      margin-bottom: 60px;
      margin-top: 0px;
      font-size: 36px;
      text-transform: uppercase;
      color: #fff;
      font-weight: 300;
      text-align: center;
      letter-spacing: 1px;
    }
  }
  .project-cont {
    width: 150%;
    z-index: 9;
  }
}

.third {
  background-image: url("../../../assets/img/third-bg.png");
  ::ng-deep {
    .p-galleria-mask .p-galleria-item-nav {
      color: var(--color);
    }
  }
  h4 {
    width: 100%;
    margin-top: 0px;
    font-size: 36px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
  }

  .skills-container {
    // min-height: 50vh;
    // border-left: 3px solid var(--color);
    .skill {
      height: 50px;
      transform: 0.1s;
      margin: 10px;
      padding: 0 10px !important;
      font-size: 20px;
      font-weight: bold;
      border-radius: 5px;
      border-bottom: 5px solid;
      background-color: #ffff;
      cursor: pointer;
      &:hover {
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
      }
      img {
        height: 30px;
        width: 30px;
        margin-right: 6px;
      }
    }
  }
}

.contacts {
  position: fixed;
  float: left;
  margin: 50px;
  z-index: 999;

  ::ng-deep {
    outline: none;
    .pi {
      font-size: 1.7rem;
      text-decoration: none;
    }
    .p-speeddial-button.p-button.p-button-icon-only {
      background-color: #455871;
      color: var(--color);
    }
    .p-speeddial-action {
      background-color: var(--color);
    }
  }
}

.made-by {
  margin-top: 60px;
  padding: 10px;
  color: #fff;
  a {
    margin: 0 8px;
    text-decoration: none;
    color: var(--color);
    font-weight: 300;
  }
}
