<div class="contacts" dir="ltr" #top>
  <p-speedDial
    [model]="socialButtons"
    [radius]="150"
    direction="down-right"
    type="quarter-circle"
    showIcon="pi pi-bars"
    hideIcon="pi pi-times"
  ></p-speedDial>
</div>
<div class="first" fxLayout="row wrap" fxLayoutAlign="center center">
  <div
    fxFlex="50"
    fxFlex.lt-md="70"
    fxFlex.xs="90"
    class="banner"
    fxLayout="column"
    fxLayoutAlign="center stretch"
    data-aos="fade-right"
    data-aos-duration="2000"
    data-aos-easing="ease-in-sine"
  >
    <div class="name"><strong class="me">Mohamed Eldeeb</strong> Software developer.</div>

    <div
      class="about-me"
      fxLayout="row wrap"
      fxLayoutAlign="center center"
      data-aos="fade-left"
      data-aos-duration="2000"
      data-aos-easing="ease-in-sine"
    >
      <div fxFlex="67" fxLayout="column" fxLayoutAlign="start stretch">
        <div fxLayoutAlign="start center"><h4>About me</h4></div>
        <div class="paragraph">
          My name is Mohamed, I graduated from the Faculty of Science, Tanta University,
          with a bachelor's degree Department of Computer Science with a grade of very
          good.
        </div>
        <div fxLayoutAlign="start center" fxLayoutGap="20px">
          <a class="super-b" (click)="scrollToElement(myProjects)">My projects</a>
          <a class="super-b" (click)="scrollToElement(mySkills)">My Skills</a>
        </div>
      </div>

      <div fxFlex class="photo" fxLayoutAlign="center center">
        <p-image
          src="assets/img/profile.jpeg"
          alt="Image"
          width="200"
          height="200"
          [preview]="true"
        ></p-image>
      </div>
    </div>
  </div>
</div>

<div #myProjects class="second" fxLayout="row wrap" fxLayoutAlign="center center">
  <p-galleria
    [value]="images"
    [(visible)]="displayImages"
    [responsiveOptions]="responsiveOptions"
    [containerStyle]="{ 'max-width': '850px' }"
    [numVisible]="7"
    [circular]="true"
    [fullScreen]="true"
    [showItemNavigators]="true"
    [showThumbnails]="false"
    [baseZIndex]="100000"
  >
    <ng-template pTemplate="item" let-item>
      <app-preloader *ngIf="preloader"></app-preloader>
      <img
        *ngIf="!preloader && images.length !== 0"
        [src]="item"
        style="width: 100%; display: block"
      />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="p-grid p-nogutter p-justify-center">
        <app-preloader *ngIf="preloader"></app-preloader>
        <img
          *ngIf="!preloader && images.length !== 0"
          [src]="item"
          style="display: block"
        />
      </div>
    </ng-template>
  </p-galleria>
  <div
    fxFlex="50"
    fxFlex.lt-md="70"
    fxFlex.xs="90"
    fxLayout="column"
    fxLayoutAlign="center center"
    class="banner"
    data-aos="flip-up"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000"
  >
    <h4 fxLayoutAlign="center center">Experiences</h4>
    <div class="project-cont" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <app-project
        *ngFor="let proj of projects"
        [proj]="proj"
        (showImages)="onShowProject($event)"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      ></app-project>
    </div>
  </div>
</div>

<div #mySkills class="third" fxLayout="row wrap" fxLayoutAlign="center center">
  <div
    fxFlex="50"
    fxFlex.lt-md="70"
    fxFlex.xs="90"
    class="banner"
    fxLayout="column"
    fxLayoutAlign="center stretch"
    data-aos="fade-up"
    data-aos-offset="500"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="500"
  >
    <h4>Skills</h4>
    <div
      *ngIf="skills$ | async as skills"
      class="skills-container"
      fxLayout="row wrap"
      fxLayoutAlign="center start"
    >
      <div
        class="skill"
        fxLayoutAlign="center center"
        *ngFor="let skill of skills"
        [style]="{ color: skill.color }"
        data-aos="fade-down"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="1500"
      >
        <img src="{{ skill.icon }}" alt="" />
        {{ skill.name }}
      </div>
    </div>
  </div>
  <div fxFlex="100" class="made-by" fxLayoutAlign="center center">
    Made by <a href="https://github.com/M-Hamo" target="_blanck">Mohamed Eldeeb</a> ❤✌
  </div>
</div>
