@use "~@angular/material" as mat;
@import "~@angular/material/theming";

// Typography
$fond-size: 14px !default;
$font-size-base: 1rem !default;
$small-font-size: 0.875em !default;

$font-family-sans-serif: "Cairo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif;

// Code
$code-color: map-get(mat.$red-palette, A400);
$code-font-size: $small-font-size !default;
