<div class="container" fxLayout="column" fxLayoutAlign="start stretch">
  <a>
    <img src="{{ proj.img }}" alt="" />
  </a>
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex="90" class="details" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxLayoutAlign="start center">
        <h4 fxLayoutAlign="center center">{{ proj.title }}</h4>
      </div>
      <p fxLayoutAlign="start start">{{ proj.details }}</p>
      <div fxLayoutAlign="start center">
        <a class="super-b" fxLayoutAlign="center center" (click)="onShowProject(proj.title)"
          >show more</a
        >
      </div>
    </div>
  </div>
</div>
